<% if(user.isAdmin) { %>
  <section class="place">
    <form action="/place" method="post">
      <div class="row">
        <input id="place-password" type="password" name="password" placeholder="Admin Password" autocomplete="off"/>
      </div>
      <div class="row">
        <input disabled class="button margin-top" id="place-submit" type="submit" value="End Period"/>
      </div>
    </form>
  </section>
<% } %>
