<section class="summary">
  <div class="row">
    <%- user.name %>
  </div>
  <div class="row">
    <%- divisions[user.division] %> Division, Tag <%- user.position===undefined ? 'N/A' : '#'+user.position; %>
  </div>
</section>
