/* Layout */
body {
  font-family: Courier New;
  font-size: 1em;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  background-color: #ddd;
}
main {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}
section {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.center-column {
  flex-grow: 1;
}
/* End layout */

/* Main */
section.summary {
  background-color: white;
  margin-bottom: 30px;
}
section.error {}
section.post {
  margin-bottom: 30px;
}
section.standings {
  margin-bottom: 10px;
  overflow: hidden;
}
.player {
  background-color: white;
}
.division-0 {
  background-color: #e5b31b;
}
.division-1 {
  background-color: #a9a9a9;
}
.division-2 {
  background-color: #af6528;
}
.division-3 {
  background-color: #6bbdd6;
}
/* End partials */

/* Buttons, links */
.button {
  background-color: #5ec19d;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #62cea7;
  }
}
/* End buttons, links */

/* Input */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  text-align: center;
  font-size: 1em;
  -webkit-border-radius: 10;
  -webkit-appearance: none;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: 0;
  width: 100%;
  min-width: 100px;
  padding: 10px;
}
input[disabled] {
  display: none;
}
input.button {
  margin-top: 10px;
}
/* End input */

/* Error */
.error {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: white;
  padding: 20px;
  width: 100%;
  margin: 20px 0;
  min-width: 100px;
  background: lightcoral;
}
/* End error */
