/* Layout */
body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  background-color: #ddd;
}
main {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}
section {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
/* End layout */

/* Main */
section.summary {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}
section.message {
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  background-color: #f4ad42;
}
.message-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  cursor: pointer;
  background: url('/img/i-close.svg'); background-size: contain; background-repeat: no-repeat;
}
.message-body {
  display: block;
}
.name,
.message-title {
  font-weight: bold;
  margin-bottom: 5px;
}
section.margin-top {
  margin-top: 40px;
}
section.margin-bottom {
  margin-bottom: 40px;
}
section.error {
  background-color: #ff6b6b;
  padding: 10px;
  box-sizing: border-box;
}
.division {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.division:last-child {
  margin-bottom: 0;
}
.division-title {
  padding: 5px 0;
  font-weight: bold;
}
.players {
  background-color: white;
  padding: 5px 15px;
  box-sizing: border-box;
}
.player {
  margin: 5px 0;
}
.side-column {
  width: 30px;
}
.side-column.left {text-align: left;}
.side-column.right {text-align: right;}
.center-column {
  flex-grow: 1;
}
.division-0 {background-color: #e5b31b;}
.division-1 {background-color: #a9a9a9;}
.division-2 {background-color: #b1703b;}
.division-3 {background-color: #6bbdd6;}
/* End partials */

/* Buttons, links */
.button {
  background-color: #5ec19d;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #62cea7;
  }
}
/* End buttons, links */

/* Checkbox */
.checkbox-custom {
  opacity: 0;
  position: absolute;
}
.checkbox-custom, .checkbox-custom-label {
  background-color: white;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 10;
  -webkit-appearance: none;
  -moz-border-radius: 10;
  border-radius: 10px;
  cursor: pointer;
}
.checkbox-custom + .checkbox-custom-label:before {
  float: left;
  margin-right: -20px;
  content: "-"; /* Safari empty pseudo element hack */
  color: transparent;
  background: url('/img/i-unchecked.svg');
  background-size: contain;
  width: 20px;
  height: 100%;
  display: inline-block;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
  background: url('/img/i-checked.svg');
  background-size: contain;
}
.checkbox-custom[disabled] + .checkbox-custom-label:before,
.checkbox-custom[disabled] + .checkbox-custom-label {
  display: none;
}
/* End checkbox */

/* Badges */
.icon {
  display: inline-block;
  font-weight: bold;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 4px;
}
.badges-hidden:not(#badges-main) {
  display: none;
}
span.no-badges {
  color: #aaa;
  font-weight: normal;
}
.i-admin{background: url('/img/i-admin.svg'); background-size: contain; background-repeat: no-repeat;}
.i-ace{background: url('/img/i-ace.svg'); background-size: contain; background-repeat: no-repeat;}
.i-record{background: url('/img/i-record.svg'); background-size: contain; background-repeat: no-repeat;}
.i-top{background: url('/img/i-top.svg'); background-size: contain; background-repeat: no-repeat;}
.i-par{background: url('/img/i-par.svg'); background-size: contain; background-repeat: no-repeat;}
.i-ten{background: url('/img/i-ten.svg'); background-size: contain; background-repeat: no-repeat;}
.i-bottom{background: url('/img/i-bottom.svg'); background-size: contain; background-repeat: no-repeat;}
/* End badges */

/* Input */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  margin: 0;
}
input,
textarea {
  resize: none;
  outline: none;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  font-size: 1em;
  -webkit-border-radius: 10;
  -webkit-appearance: none;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: 0;
  width: 100%;
  min-width: 100px;
  padding: 10px;
}
input[disabled] {
  display: none;
}
textarea.margin-top,
label.margin-top,
input.margin-top {
  margin-top: 10px;
}
/* End input */
