<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <main>

    <section class="error">
      <div class="row">
        Error
      </div>
      <div class="row">
        <%- error %>
      </div>
    </section>

    <section>
      <form action="/" method="get">
        <div class="row">
          <input class="button margin-top" id="post-submit" type="submit" value="Home"/>
        </div>
      </form>
    </section>

  </main>
</body>
</html>
