<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <main>

    <section class="error">
      <div class="row">
        Error
      </div>
      <div class="row">
        <%- error %>
      </div>
    </section>

  </main>
</body>
</html>
