<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <main class="container">

    me: <%- user.username %>

    <% Object.keys(players).forEach(function(division) { %>
      div: <%- division %>
      players: <% players[division].forEach(function(player) { %>
        <%- player.username %>
      <% }); %>
    <% }); %>

  </main>
</body>
</html>
