<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <main>

    <section id="login">
      <form id="login-form" action="/login" method="post">
        <div class="row">
          <input id="login-name" type="text" name="name" placeholder="Name"/>
        </div>
        <div class="row">
          <input id="login-password" class="margin-top" type="password" name="secret" placeholder="Secret"/>
        </div>
        <div class="row">
          <input disabled id="login-submit" class="button margin-top" type="submit" value="Login"/>
        </div>
      </form>
    </section>

  </main>
</body>
</html>
